<div class="navi_container">
    <button (click)="toggleBtn()"><i class="fa-solid fa-plus icon"></i>Add More</button>
    <button (click)="toggleItem()">See All Items</button>
</div>

<ng-container *ngIf="showVar">
    <div class="mani_container">
    <form class="formContainer" [formGroup]="formContainer" #myform="ngForm" autocomplete="off">
        <div formArrayName="addDataForm" id="stripe-login">
            <div *ngFor="let item of itemData.controls; let i=index">
                <div [formGroupName]="i">
                    <label for="itemName">Item Name</label>
                    <input type="text"  id="itemName" name="itemName" placeholder="Item Name" formControlName="itemName">
                    <div class="error" *ngIf="itemData.controls[i].get('itemName')?.invalid  && itemData.controls[i].get('itemName')?.touched">
                        <div *ngIf="itemData.controls[i].get('itemName')?.errors?.required">Please enter the item name.</div>
                        <div *ngIf="itemData.controls[i].get('itemName')?.errors?.pattern">Only characters are allowded.</div>
                        <div *ngIf="itemData.controls[i].get('itemName')?.errors?.maxlength">Max Length should be within 100 characters.</div>
                    </div>
                    <!-- <br> -->
        
                    <label for="itemCode">Item Code</label>
                    <input type="text" id="itemCode" name="itemCode" placeholder="Item Code" formControlName="itemCode">
                    <div class="error" *ngIf="itemData.controls[i].get('itemCode')?.invalid && itemData.controls[i].get('itemCode')?.touched">
                        <div *ngIf="itemData.controls[i].get('itemCode')?.errors?.required">Please enter the item code.</div>
                        <div *ngIf="itemData.controls[i].get('itemCode')?.errors?.pattern">Allowded only alphanumeric code with max 5 characters</div>
                    </div>
                    <!-- <br> -->
                
                    <label for="itemDescrip">Item Description</label>
                    <textarea placeholder="About Item" name="itemDescrip" id="itemDescrip" cols="20" rows="3" formControlName="itemDescrip"></textarea>
                    <div class="error" *ngIf="itemData.controls[i].get('itemDescrip')?.invalid && itemData.controls[i].get('itemDescrip')?.touched ">
                        <div *ngIf="itemData.controls[i].get('itemDescrip')?.errors?.required ">Please enter the item description.</div>
                        <div *ngIf="itemData.controls[i].get('itemDescrip')?.errors?.maxlength">Max Length should be within 500 characters.</div>
                    </div>
                    <!-- <br> -->
                
                    <label for="itemPrice">Item Price</label>
                    <input type="number" id="itemPrice" name="itemPrice" placeholder="INR" formControlName="itemPrice">
                    <div class="error" *ngIf="itemData.controls[i].get('itemPrice')?.errors?.required && itemData.controls[i].get('itemPrice')?.touched ">Please enter the item price.</div>
                    <div class="error" *ngIf="itemData.controls[i].get('itemPrice')?.errors?.max">Max price should be within 10000.</div>
                    <!-- <br> -->
        
                    <div class="container">
                        <div class="card">
                          <div class="card-header">
                            Image <p>(Accepts only PNG JPG JPEG & less than 5mb)</p>
                          </div>
                          <div class="card-body">
                            <input type="file" id="itemImage" (change)="fileChangeEvent($event)" name="itemImage" formControlName="itemImage" accept="image/x-png,image/gif,image/jpeg" />
                            <div class="error" *ngIf="itemData.controls[i].get('itemImage')?.errors?.required && itemData.controls[i].get('itemImage')?.touched">Please upload a file!</div>
                            <div class="error" *ngIf="uploadSize">Upload a file which is less than 5mb</div> 
                            <div class="error" *ngIf="img">Upload files with extension JPG, JPEG, PNG</div> 
                            <div class="row" *ngIf="itemChanged && !uploadSize && !img" style="margin-top: 10px;">
                                <div class="text-center col-md-8">
                                    <h5>Crop Image</h5>
                                    <image-cropper 
                                        [imageChangedEvent]="imageChangedEvent" 
                                        [maintainAspectRatio]="true" 
                                        [aspectRatio]="4 / 4"
                                        [resizeToWidth]="256" 
                                        format="png" 
                                        (imageCropped)="imageCropped($event)" 
                                        (imageLoaded)="imageLoaded()"
                                        (cropperReady)="cropperReady()" 
                                        (loadImageFailed)="loadImageFailed()">
                                    </image-cropper>
                                </div>
                                <div class="text-center col-md-4">
                                    <h5>Preview</h5>
                                    <img [src]="croppedImage" />
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="btns">
                        <input type="submit" id="add" (click)="onSubmit(i)" *ngIf="!btnShow" value="Add">
                        <input type="button" id="edit" (click)="onEdit()" *ngIf="!btnShow" value="Edit">
                        <input type="button" (click)="onDelete(i)" *ngIf="!btnShow"  value="Delete">
                        <input type="button" id="edit" (click)="onUpdate(i)" *ngIf="btnShow" value="Update">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</ng-container>

<ng-container *ngIf="showItem">
    <div class="mani_container">
        <div class="itemDetails" *ngFor="let val of item; let i = index;">
            <div class="item">
                <h2>Item Name : </h2>
                <p>{{val?.itemName}}</p>
            </div>
            <div class="item">
                <h2>Item Code : </h2>
                <p>{{val?.itemCode}}</p>
            </div>
            <div class="item">
                <h2>Item Description : </h2>
                <p>{{val?.itemDescrip}}</p>
            </div>
            <div class="item">
                <h2>Item Price : </h2>
                <p>{{val?.itemPrice | currency:'INR':'symbol-narrow'}}</p>
            </div>
            <div class="item">
                <h2>Item Image : </h2>
                <img src="{{val?.itemImage}}" alt="item">
            </div>
        </div>
    </div>
</ng-container>