<div class="container">
    <div class="left_logo">
        <a routerLink="/product" class="logo"><i class="fa-solid fa-store"></i>My Store</a>
    </div>
    <div class="right">
        <div class="search">
            <form [formGroup]="searchData" (ngSubmit)="onSubmit()">
                <input type="text" name="search" id="search" placeholder="Enter product name" formControlName="search">
            </form>
        </div>
        <a routerLink="/cart" class="cartBtn"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
    </div>
</div>
<hr>
