<div class="container">
  <div class="item_container">
    <div class="basket-module">
      <label for="promo-code">Enter a promotional code</label>
      <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
      <button class="promo-code-cta">Apply</button>
    </div>
    <div class="card_container">
      <div class="card" *ngFor="let item of data let i=index">
        <div class="card-header">
          <img src={{item?.images[0]}} alt="item." />
        </div>
        <div class="card-body">
          <h4>{{item?.title}}</h4>
          <p>{{item?.description}}</p>
          <div class="price">
            <h4>Price</h4>
            <p id="price">{{item?.price}}</p>
          </div>
          <div class="quantity">
            <h4>Quantity Added</h4>
            <p id="price">{{item?.quantity}}</p>
          </div>
          <button (click)="removeItem(i)" class="removeBtn">Remove Item</button>
        </div>
      </div>
    </div>
  </div>
  <div class="summary_container">
    <div class="summary-total-items"><span class="total-items"></span> Items in your bag cost</div>
      <div class="summary-subtotal">
        <div class="subtotal-title">Subtotal</div>
        <div class="subtotal-value final-value" id="basket-subtotal">{{subTotal}}</div>
        <div class="subtotal-title">GST</div>
        <div class="subtotal-value final-value" id="basket-subtotal">3%</div>
      </div>
      <div class="summary-total">
        <div class="total-title">Total</div>
        <div class="total-value final-value" id="basket-total">{{total}}</div>
      </div>
      <div class="summary-checkout">
        <button class="checkout-cta">Confirm Checkout</button>
      </div>
  </div>
</div>