.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  #user{
    margin: 10px 0;
    font-size: 16px;
    font-style: italic;
  }

  #signout{
    color: #111;
    padding: 5px;
    border: 1px solid #FF0000;
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    // font-size: 16px;
    font-style: italic;
  }
}


#category{
    margin: 30px 0;
    font-size: 20px;
}

.categories_list{
    display: flex;
    align-items: center;

    .item{
        margin-right: 10px;
        text-decoration: none;
        color: #111;
        padding: 8px;
        border: 1px solid #FF0000;
        cursor: pointer;

        .icon{
          margin-right: 5px;
          color: #FF0000;
        }
    }
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .message{
    margin-top: 15px;
  }
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #cacaca;
    overflow: hidden;
    width: 300px;
    position: relative;

    .card-header img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      min-height: 300px;

      p {
        font-size: 13px;
        margin: 0 0 20px;
      }

      .price{
        display: flex;
        align-items: center;
        justify-content: center;

        #price{
          margin-left: 8px;
          font-size: 12px;
          margin: 0 8px 0;
        }
      }
      .navi{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;
        margin: 10px auto 0 auto;

        button{
          background-color: transparent;
          outline: none;
          border: none;
          .fa-square-minus, .fa-square-plus{
            font-size: 30px;
            color: #FF0000;
            cursor: pointer;
          }
        }
  
        span{
          margin: 0 15px;
        }
      }
    }

    .btn_info{
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 20px;
      left: 20px;
    
      .item{
        margin-right: 10px;
        text-decoration: none;
        color: #111;
        padding: 8px;
        border: 1px solid #FF0000;
        cursor: pointer;
        background-color: transparent; 
      }

      .add{
        padding: 6px;
        font-size: 12px;
        background-color: #006400;
        color: #fff;
        border: none;
        outline: none;
        margin-left: 25px;
      }
    }
  }
}










