<div class="user" *ngIf="user">
  <h2 id="user">Welcome {{user}}</h2>
  <button id="signout" (click)="signOut()">Sign Out</button>
</div>
<h2 id="category">Categories</h2>

<div class="categories_list">
    <div class="item" (click)="submit('smartphones')"><i class="fa-solid fa-mobile-screen icon"></i>Mobile Phones</div>
    <div class="item" (click)="submit('laptops')"><i class="fa-solid fa-laptop icon"></i>Laptops</div>
</div>

<ng-container>
  <div class="container">
    <div class="message" *ngIf="message">{{message}}</div>
      <div class="card" *ngFor="let item of apiData;let i = index">
        <div class="card-header">
          <img src={{item?.images[0]}} alt="item." />
        </div>
        <div class="card-body">
          <h4 class="title">{{item?.title}}</h4>
          <p>{{item?.description}}</p>
          <hr>
          <div class="price">
            <h4>Price</h4>
            <p id="price">{{item?.price}}</p>
          </div>
          <div class="navi">
            <button (click)="quantityItem('decrement',item)">
              <i class="fa-solid fa-square-minus"></i>
            </button>
            <span>{{item?.quantity}}</span>
            <button (click)="quantityItem('increment',item)">
              <i class="fa-solid fa-square-plus"></i>
            </button>
          </div>
        </div>
        <div class="btn_info">
          <button class="item" (click)="addToCart(item)">Add to Cart</button>
          <div class="add" *ngIf="item?.added">Added to Cart!!...</div>
        </div>
      </div>    
  </div>
</ng-container>


